$topbar-primary-dark-theme: #222222;
$background-darker-dark-theme: #EDD49F;
$background-primary-dark-theme: #F5E7C6;
$background-lighter-dark-theme: #FAF3E1;

// topbar
$font-color: #000000;
$button-hover: #F2E0BD;

// separador e bordas
$separador-light-theme:#333;

//titulos
$titles_primary-color: #1E3A8A;