@use 'colors' as *;

.content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;

        width: 250px;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        height: 90%;
        background-image: linear-gradient(
            to bottom,
            $background-primary-dark-theme 0%,
            $background-lighter-dark-theme 50%,
            transparent 100%
            );
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 8px;
}


@media screen and (min-width:768px) { 
    .content{
        position: fixed;
        top: 70px;
        right: 10px;
        width: 20%;
    }

    nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    nav li {
        margin-bottom: 8px;
    }
}