@use 'colors' as *;


.body-contacts{
    background: $background-primary-dark-theme;
   
}


.separador {
    border-top: 1px solid #333; 
    opacity: 0.3;
    margin: 20px;
}


/* Container principal*/
.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

/* --- Coluna da Esquerda --- */
.contact-info {
    margin-top: 50px;
    width: 40%;
    padding: 20px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* --- Coluna da Direita --- */
.contact-form {
    margin-top: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #333;
}

/* Caixas de texto*/
.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box; 
}

/* Botão de Enviar */
.contact-form button {
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #555; 
}


/* Para Telemóvel */
@media screen and (max-width: 768px) {

    .contact-wrapper {
        flex-direction: column;
        width: 90%;
        justify-content: center;
    }

    .contact-info, .contact-form {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}

