.content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        top: 70px;
        width: 250px;
    }

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 8px;
}


@media screen and (min-width:768px) { 
    .content{
        position: fixed;
        top: 70px;
        right: 5px;
        width: 20%;
    }

    nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    nav li {
        margin-bottom: 8px;
    }
}