@use 'colors' as *;

body h1 {
        display: flex;
        justify-content: center;
        color: red;
        align-content: center;
        font-size: 32px;
    }

body h4 {
        display: flex;
        justify-content: center;
}

body p {
        display: flex;
        width: 70%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 15px;
        margin: 20px auto;
        font-size: 14px;
    }

body img {
    display: flex;
    width: 70%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .section-container:nth-child(odd) .section-content-container {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:768px) {
    .body {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 60px;
        justify-content: center;
        width: 80%;
    }

    body h1 {
        display: flex;
        justify-content: center;
        color: red;
        align-content: center;
        font-size: 48px
    }

    body h4 {
        display: flex;
        padding-top: 10px 15px;
        margin: 20px;
        justify-content: flex-start;
    }

    body p {
        display: flex;
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 16px;
    }

    body img {
        display: flex;
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        height: auto;
        align-self: center;
    }

    .section-content-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 10px 10px;
        margin: 20px auto;
    }

    .section-container {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        margin: 20px;
        background-image: linear-gradient(
            to bottom,
            $background-darker-dark-theme 0%,
            $background-primary-dark-theme 30%,
            $background-lighter-dark-theme 70%,
            transparent 100%
            );
    }

    .section-container:nth-child(odd) > div:first-child {
        display: flex;
        justify-content: flex-end;
    }

    .section-container:nth-child(odd) .section-content-container {
        flex-direction: row-reverse;
    }

    .paragraph-container{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 10px;
        align-self: center;
    }

    .image-container {
        display: flex;
        justify-content: flex-end;
        width: 50%; 
        margin: 10px;
    }
}
