body h1 {
        display: flex;
        justify-content: center;
        color: red;
        align-content: center;
        font-size: 32px;
    }

body p {
        display: flex;
        width: 70%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 15px;
        margin: 20px auto;
        font-size: 14px;
    }

body img {
    display: flex;
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
}

@media screen and (min-width:768px) { 
    .body {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 60px;
        justify-content: center;
        width: 80%;
    }

    body h1 {
        display: flex;
        justify-content: center;
        color: red;
        align-content: center;
        font-size: 48px
    }

    body p {
        display: flex;
        width: 50%;
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 15px;
        margin: 20px;
        font-size: 16px;
    }

    body img {
        display: flex;
        width: 100%;
        border: 1px solid black;
        border-radius: 20px;
        margin: 20px;
        justify-content: flex-end;
    }
}
