


@media screen and (min-width:768px) { 
    .body {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 60px;
        justify-content: center;
        width: 80%;
    }

    body h1 {
        display: flex;
        justify-content: center;
        color: red;
        align-content: center;
    }
}
