

@use 'colors' as *;


.body-sponsors {
    background: $background-primary-dark-theme;
}

.separador {
    border-top: 1px solid $separador-light-theme; 
    opacity: 0.3;
    margin: 20px auto;
    width: 60%;
}

/* Wrapper Principal */
.sponsors-wrapper {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.sponsors-header {
    text-align: center;
    width: 100%;

    h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.sponsors-grid {
    width: 100%;
    display: flex;
    flex-direction: column; /* No telemóvel é coluna */
    gap: 20px;
}

/* Cartão Individual */
.sponsor-card {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #333;
    border-radius: 20px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    width: 100%;
    transition: transform 0.3s ease, background 0.3s;
}

.sponsor-card h3{
    margin: 15px 0 10px 0;
    font-size: 1.4rem;
}

.sponsor-card p{
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 20px;
    flex-grow: 1; 

}


/* Área do Logo */
.sponsor-logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #eee;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

}

/* Botão/Link */
.sponsor-link {
    display: inline-block;
    width: 100%; 
    padding: 12px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background 0.3s;


}

@media screen and (min-width: 768px) {
    .sponsors-wrapper{
    width: 80%;
    margin-top: 0px;
    }

    .sponsors-header{
        margin-top: 70px;

        p{
        text-align: center; 
        max-width: 700px;   
        margin-left: auto;  
        margin-right: auto; 
        }
    }

    

    .separador {
        border-top: 1px solid $separador-light-theme; 
        opacity: 0.3;
        margin: 20px auto;
        width: 80%;
    }

    .sponsors-grid {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .sponsor-card{
    /* 3 cartões por linha */
    width: 30%; 
    min-width: 250px;
    padding: 30px;
    }

    .sponsor-card:hover{
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
    }

    .sponsor-logo {
    height: 120px; /* Um pouco maior no desktop */
    }

    .sponsor-link{
        width: auto;
        padding: 10px 25px;
    }

}
