// styles
@use 'buttons';
@use 'colors' as *;

.topbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu-hamb {
    background: none;
    border: none;
    display: flex;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
    align-self: flex-end;
}

.hamb-links {
    display: none;
    flex-direction: column; 
    text-align: center;
}

.hamb-links.is-active{
    display:flex
}


@media screen and (min-width:768px){
    .topbar {
        display: flex;
        flex-direction: row;
        background: $topbar-primary-dark-theme;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }


    .topbar img {
        width: 150px;
        
    }


    .menu-hamb{
        display: none;
    }

    .hamb-links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
        gap: 10px;
    }
}