// styles
@use 'buttons';
@use 'colors' as *;


.menu-hamb {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
}

.hamb-links {
    display: none;
    flex-direction: column; 
    padding: 1rem 0;
    text-align: center;
}

.hamb-links.is-active{
    display:flex
}


@media screen and (min-width:768px){
    .topbar {
        background: $topbar-primary-dark-theme;
    }
    .menu-hamb{
        display: none;
    }

    .hamb-links{
        display: flex;
        flex-direction: row; 
        justify-content: flex-end;
        padding: 10px;
        gap: 10px;
    }
    
}